html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: yesevaOne;
    src: url(./fonts/Yeseva_One/YesevaOne-Regular.ttf);
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   display: flex;
   width: 100vh;
   height: 100vh;
   overflow:auto;
   box-sizing: border-box;
}

.side-img{
    background-size:cover;
    background-image: url("cover-img.jpg");
    background-repeat:no-repeat;
    width: 505px;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex: 1 0 auto;


}

.side-img__title{
    margin-top: 40%;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.288);



    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(28, 43, 58, 0.733) 0px 20px 30px -10px;


}

.side-img__credit{
    
    display: flex;
    align-items: end;
    padding: 10px;
    color: white;
    justify-content: center;
    width: calc(100% - 20px);
    text-decoration: none;

}
 .side-img__credit a{
    font-size: 11px;
    color:rgb(93, 82, 97);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 1px 2px 1px 2px;
    text-transform: uppercase;
 }
.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    flex: 1 0 auto;

}

.sign-up__text{
    background-color: rgb(255, 235, 242);
    flex: 0 0 auto;
    padding: 150px 20px 20px 50px;

}

.sign-up__form{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex: 1 0 auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    z-index: 2; 
    padding: 10px;
}

form {
    display: flex;
    justify-content: start;
    gap: 45px;
}
.sign-up__form__left, .sign-up__form__right{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
    background-color: rgb(255, 255, 255);

}

.sign-up__text h1{
    font-size: 24px;
    padding: 12px;
    color:darkslateblue;
}

.sign-up__form__right{
    background-color: rgb(255, 255, 255);
}

.sign-up__btn{
    background-color: rgb(255, 235, 242);
    flex: 1 0 auto;
    z-index: 1;
    padding-top: 20px;
    

}



.logo {
    width: 100px;
    height: 100px;
    border: rgba(255, 255, 255, 0.863) 2px solid;
    background-color:  rgba(231, 245, 250, 0.342);
    border-radius: 100%;

}



.side-img__title span{
    font-family: yesevaOne;
    font-size: 36px;
    color: white;
    margin-left: 15px;
}


label {
    margin-top: 20px;
    margin-bottom: 2px;
}



legend {
    font-size: 18px;
    font-weight:600;
    color:#68617a;
}
.button-48 {
  padding: 12px 26px;
  border: 0;
  font-size: 16px;
  transition: all 150ms ease-in-out;
  margin-left: 10px;
  border-radius: 8px;
  font-weight: 600;

  color: #68617a;
  background-color: #dccfe6;
  border: 1px solid #7d7396;
  box-shadow: rgba(0, 0, 0, 0.03) 0 -2px 2px 0 inset, rgba(0, 0, 0, 0.03) 0 2px 2px 0;
}

.button-48:hover {
  filter: brightness(0.98)
}

.button-48:active {
  transform: scale(.95);
}
